<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzQ5bla0GQPpusMlaU7oeseANaE5L-bao</string>
	<key>GCM_SENDER_ID</key>
	<string>347516727763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vglapp.sticker.share</string>
	<key>PROJECT_ID</key>
	<string>stickervlg</string>
	<key>STORAGE_BUCKET</key>
	<string>stickervlg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347516727763:ios:662cefe292d07c65b7ff26</string>
</dict>
</plist>